@page
@model NewtonLibraryManager.Pages.AddProductModel
@{
    ViewData["Title"] = "Lägg till produkt";
    string cookieValue = null;
    string cookieValue1 = null;
    string cookieValue2 = null;
    cookieValue = Request.Cookies["LibraryCookie"];
    cookieValue1 = Request.Cookies["LibraryCookie1"];
    cookieValue2 = Request.Cookies["LibraryCookie2"];
    string cookieComparer1 = Models.SecurePasswordHasher.Hash("NewtonLibraryManager_1");
    string cookieComparerTrue = Models.SecurePasswordHasher.Hash("NewtonLibraryManager_True");
}

@if(cookieValue1 == cookieComparerTrue)
{
<div class="text-center">
<h1 class="display-4">@ViewData["Title"]</h1>
<form method="post" asp-page-handler="post" class="mt-3 d-flex align-items-center flex-column">

    @for(int i = 0; i < Model.AuthorCountInt; i++)
    {
    string authorLabel = $"Författare {i + 1}";
    string inputId = $"SelectedAuthorNames{i}";
    string collapseId = $"collapseAuthor{i}";
    string collapseId2 = "#" + collapseId;
    <div class="mb-3 AltAutoWidth">
        <label for="authorSelect" class="form-label"><b>@authorLabel</b></label>
        <div class="d-flex">
            <select asp-items="Model.Authors" asp-for="SelectedAuthorNames[i]" class="form-select" aria-label="Författare" id="@inputId"></select>
            <button class="btn btn-custom ms-1" type="button" data-bs-toggle="collapse" data-bs-target="@collapseId2" aria-expanded="false" aria-controls="@collapseId">+</button>
        </div>
        <div class="collapse" id="@collapseId">
            <div class="card card-body text-start my-4 pb-4">
                <h5 class="d-block">Ny författare</h5>
                <label for="AuthorFirstNames[i]" class="form-label d-block"><b>Förnamn</b></label>
                <input type="text" asp-for="AuthorFirstNames[i]" id="AuthorFirstNames[i]" class="d-block form-control" minlength="2" maxlength="30" data-val-length-min="2" data-val-length-max="30" />
                <label for="AuthorLastNames[i]" class="form-label d-block"><b>Efternamn</b></label>
                <input asp-for="AuthorLastNames[i]" type="text" id="AuthorLastNames[i]" class="d-block form-control" minlength="2" maxlength="30" data-val-length-min="2" data-val-length-max="30" />
            </div>
        </div>
    </div>        
    }

    <div class="mb-3 AltAutoWidth">
        <label for="prodTitle" class="form-label"><b>Titel</b></label>
        <input type="text" asp-for="Title" class="form-control" id="prodTitle" minlength="4" maxlength="100" data-val-length-min="4" data-val-length-max="100"/>
    </div>

    <div class="d-flex flex-row justify-content-center">
        @foreach(var language in Model.Languages)
        {
            <div class="form-check p-4 text-start w-auto">
                <input asp-for="LanguageId" class="form-check-input" type="radio" name="LanguageId" id="@language.Language1" value="@language.Id">
                <label class="form-check-label" for="@language.Language1">
                <b>@language.Language1</b>
                </label>
            </div>
        }
        <input type="hidden" name="selectedLanguage" value="@Model.LanguageId" />
    </div>

    <div class="mb-3 AltAutoWidth">
        <label for="SelectedCategory" class="form-label"><b>Kategori</b></label>
        <select asp-for="SelectedCategory" asp-items="Model.Categories" class="form-select" name="SelectedCategory" id="SelectedCategory"></select>
    </div>

    <div class="mb-3 AltAutoWidth">
        <label for="dewey" class="form-label"><b>Dewey decimalklassifikation</b></label>
        <input type="text" asp-for="Dewey" class="form-control" id="dewey" minlength="3" maxlength="7" data-val-length-min="3" data-val-length-max="7" placeholder="T.ex. 839.738"/>
        @if (!String.IsNullOrWhiteSpace(@Model.DeweyError))
        {
            <div id="passwordHelp" class="form-text"><i>@Model.DeweyError</i></div>
        }
    </div>

    <div class="mb-3 AltAutoWidth">
      <label for="descriptionTextArea" class="form-label"><b>Beskrivning</b></label>
      <textarea asp-for="Description" class="form-control" id="descriptionTextArea" rows="3"></textarea>
    </div>

    <div class="mb-3 AltAutoWidth">
        <label for="isbn" class="form-label"><b>ISBN</b></label>
        <input type="text" asp-for="Isbn" class="form-control" id="isbn" minlength="10" maxlength="13" data-val-length-min="10" data-val-length-max="13"/>
    </div>

    <div class="mb-3 AltAutoWidth">
        <label for="SelectedProdType" class="form-label"><b>Produkttyp</b></label>
        <select asp-items="Model.ProdTypes" asp-for="SelectedProdType" class="form-select" aria-label="Produkttyp" name="SelectedProdType" id="SelectedProdType"></select>
    </div>
    <div class="mb-3 AltAutoWidth">
        <label for="NrOfCopies" class="form-label"><b>Antal exemplar</b></label>
        <input type="number" asp-for="NrOfCopies" class="form-control" id="NrOfCopies" name="NrOfCopies" step="1" min="1" max="100" placeholder="1"/>
    </div>
    <button type="submit" class="btn btn-custom">Lägg till</button>
</form>
</div>
}
else
{
    <p>Sidan är ej tillgänglig.</p>
}



@section Navigation {
        <nav class="navbar navbar-expand-xxl navbar-toggleable-xxl navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="/css/img/logo.svg" alt="" width="24" height="24" class="d-inline-block align-text-top" />
                <div class="d-inline-flex align-items-center ps-1">
                    <img src="/css/img/logo-newton.svg" alt="" width="77" height="16" /> 
                </div></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-xxl-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Sök</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Inventory">Alla produkter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/News">Nyheter</a>
                    </li>
                    @if (cookieValue1 == cookieComparerTrue) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/AddNews">Publicera</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark active" asp-area="" asp-page="/DetermineAuthorCount" aria-current="page">Lägg till produkt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/UserManagement">Hantera användare</a>
                    </li>
                    }
                    @if (cookieValue1 == cookieComparerTrue && cookieValue == cookieComparer1) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/AdminManagement">Hantera admins</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Register">Registrera användare</a>
                    </li>
                    }
                    @if (cookieValue != null) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Profile" asp-route-id="@cookieValue2">Profil</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Kontakt</a>
                    </li>
                    }
                    @if (cookieValue == null) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Login">Logga in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Register">Registrera dig</a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
}