@page
@model NewtonLibraryManager.Pages.AdminManagementModel
@{
    ViewData["Title"] = "Admin";
    string cookieValue = null;
    string cookieValue1 = null;
    string cookieValue2 = null;
    cookieValue = Request.Cookies["LibraryCookie"];
    cookieValue1 = Request.Cookies["LibraryCookie1"];
    cookieValue2 = Request.Cookies["LibraryCookie2"];
    string cookieComparer1 = Models.SecurePasswordHasher.Hash("NewtonLibraryManager_1");
    string cookieComparerTrue = Models.SecurePasswordHasher.Hash("NewtonLibraryManager_True");
}
<div class="text-center">
@if (cookieValue == cookieComparer1 && cookieValue1 == cookieComparerTrue)
{
    <h1 class="display-4">Administrera administratörer</h1>

        <div class="container mt-3 searchResults">
          <div class="row searchHeader">
            <div class="col-4">
              Förnamn
            </div>
            <div class="col-4">
              Efternamn
            </div>
            <div class="col-4">
              E-mail
            </div>
          </div>
                @if (Model.Admins != null)
                {
                    @foreach (var admin in Model.Admins)
                    {
                        <a class="row searchBody" asp-page="/Profile" asp-route-id="@admin.Id.ToString()">
                            <div class="col-4">
                                @admin.FirstName
                            </div>
                            <div class="col-4">
                                @admin.LastName
                            </div>
                            <div class="col-4">
                                @admin.EMail
                            </div>
                        </a>
                    }
                }
        </div>
}
else
{
    <p>Sidan är ej tillgänglig.</p>
}
</div>



@section Navigation {
        <nav class="navbar navbar-expand-xl navbar-toggleable-xl navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="/css/img/logo.svg" alt="" width="24" height="24" class="d-inline-block align-text-top" />
                <div class="d-inline-flex align-items-center ps-1">
                    <img src="/css/img/logo-newton.svg" alt="" width="77" height="16" /> 
                </div></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-xl-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Sök</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark active" asp-area="" asp-page="/Inventory">Alla produkter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/News">Nyheter</a>
                    </li>
                    @if (cookieValue1 == cookieComparerTrue) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/DetermineAuthorCount">Lägg till produkt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/UserManagement">Hantera användarkonton</a>
                    </li>
                    }
                    @if (cookieValue1 == cookieComparerTrue && cookieValue == cookieComparer1) {
                    <li class="nav-item">
                        <a class="nav-link text-dark active" asp-area="" asp-page="/AdminManagement" aria-current="page">Hantera adminkonton</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Register">Registrera användare</a>
                    </li>
                    }
                    @if (cookieValue != null) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Profile" asp-route-id="@cookieValue2">Profil</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Kontakt</a>
                    </li>
                    }
                    @if (cookieValue == null) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Login">Logga in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Register">Registrera dig</a>
                    </li>
                    }
                    @if (cookieValue != null) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Logout">Logga ut</a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
}