@page
@model NewtonLibraryManager.Pages.InventoryModel
@{
    ViewData["Title"] = "Alla produkter";
    string cookieValue = null;
    string cookieValue1 = null;
    string cookieValue2 = null;
    cookieValue = Request.Cookies["LibraryCookie"];
    cookieValue1 = Request.Cookies["LibraryCookie1"];
    cookieValue2 = Request.Cookies["LibraryCookie2"];
    string cookieComparer1 = Models.SecurePasswordHasher.Hash("NewtonLibraryManager_1");
    string cookieComparerTrue = Models.SecurePasswordHasher.Hash("NewtonLibraryManager_True");
    string cookieComparerId = Models.SecurePasswordHasher.Hash("NewtonLibraryManager_" + cookieValue2);
}


<div class="text-center">
<form asp-page-handler="view" method="post">
    @if(cookieValue1 == cookieComparerTrue)
    {
        <div class="container mb-3 text-center">
            <h3>Statistik</h3>
            <div class="d-inline-flex justify-content-start flex-column text-start">
                <div><b>Totalt antal produkter i lager: </b>@Model.InventoryAmount</div>
                <div><b>Totalt antal utlåningar: </b>@Model.AmountOfBorrowedProducts</div>
            </div>
        </div>
        <div class="container">
            <h3 class="mb-0">Alla produkter</h3>
        </div>
    }
    else
    {
        <h1 class="display-4">Alla produkter</h1>         
    }
    <div class="container text-center searchResults">
      <div class="row searchHeader">
        <div class="col-4 col-md-2">
          ISBN
        </div>
        <div class="col-4 col-md-8">
          Titel
        </div>
        <div class="col-4 col-md-2">
          Författare
        </div>
      </div>
      @foreach (var result in Model.Products)
        {
        <a asp-page="/ProductView" asp-route-id="@result.Id" class="row searchBody">
            <div class="col-4 col-md-2">
              @result.Isbn<input type="hidden" name="id" value="@result.Id.ToString()" />
            </div>
            <div class="col-4 col-md-8">
              @result.Title
            </div>
            @if(@result.FirstName != null && @result.LastName != null)
            {
                <div class="col-4 col-md-2">
                    @result.Authors
                </div>     
            }
        </a>
        }
    </div>
</form>

</div>

@section Navigation {
        <nav class="navbar navbar-expand-xl navbar-toggleable-xl navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="/css/img/logo.svg" alt="" width="24" height="24" class="d-inline-block align-text-top" />
                <div class="d-inline-flex align-items-center ps-1">
                    <img src="/css/img/logo-newton.svg" alt="" width="77" height="16" /> 
                </div></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-xl-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark active" aria-current="page" asp-area="" asp-page="/Index" >Sök</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark active" asp-area="" asp-page="/Inventory" aria-current="page">Alla produkter</a>
                    </li>
                    @if (cookieValue1 == cookieComparerTrue) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/DetermineAuthorCount">Lägg till produkt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/UserManagement">Hantera användarkonton</a>
                    </li>
                    }
                    @if (cookieValue1 == cookieComparerTrue && cookieValue == cookieComparer1) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/AdminManagement">Hantera adminkonton</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Register">Registrera användare</a>
                    </li>
                    }
                    @if (cookieValue != null) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Profile" asp-route-id="@cookieValue2">Profil</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Kontakt</a>
                    </li>
                    }
                    @if (cookieValue == null) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Login">Logga in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Register">Registrera dig</a>
                    </li>
                    }
                    @if (cookieValue != null) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Logout">Logga ut</a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
}