@page
@model NewtonLibraryManager.Pages.NewsModel
@{
    ViewData["Title"] = "Nyheter";
    string cookieValue = null;
    string cookieValue1 = null;
    string cookieValue2 = null;
    cookieValue = Request.Cookies["LibraryCookie"];
    cookieValue1 = Request.Cookies["LibraryCookie1"];
    cookieValue2 = Request.Cookies["LibraryCookie2"];
    string cookieComparer1 = Models.SecurePasswordHasher.Hash("NewtonLibraryManager_1");
    string cookieComparerTrue = Models.SecurePasswordHasher.Hash("NewtonLibraryManager_True");
    string cookieComparerId = Models.SecurePasswordHasher.Hash("NewtonLibraryManager_" + cookieValue2);
}

<div class="container text-start">
        <h1 class="display-4">Nyheter</h1>
    @if(@Model.News != null && @Model.News.Count > 0)
    {
        @foreach(var item in @Model.News)
        {
            string date = item.Updated?.ToString("MM/dd/yyyy") ?? item.PublishedDate?.ToString("MM/dd/yyyy") ?? "";

            <h4 class="mb-1">@item.Title</h4>
            <i class="d-block text-start mb-2 opacity-75">@date</i>
            <p>@item.ContentText</p>
        }
    }

</div>

@if(@Model.ShowModal)
{
    <div class="modal fade show" id="staticBackdrop" style="display: block;" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">@Model.ModalBody</h5>
            <a class="btn-close" role="button" asp-page="/News" asp-route-showModal="False"></a>
            </div>
            <div class="modal-body">
            @Model.ModalBody
            </div>
            <div class="modal-footer">
            <a class="btn btn-custom" role="button" asp-page="/News" asp-route-showModal="False">Ok</a>
            <a class="btn btn-custom" role="button" asp-page="/Index">Gå till start</a>
            </div>
        </div>
        </div>
    </div>
}

@section Navigation {
        <nav class="navbar navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="/css/img/logo.svg" alt="" width="24" height="24" class="d-inline-block align-text-top" />
                <div class="d-inline-flex align-items-center ps-1">
                    <img src="/css/img/logo-newton.svg" alt="" width="77" height="16" /> 
                </div></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark active" aria-current="page" asp-area="" asp-page="/Index" >Sök</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Inventory">Alla produkter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark active" asp-area="" asp-page="/News" aria-current="page">Nyheter</a>
                    </li>
                    @if (cookieValue1 == cookieComparerTrue) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/AddNews">Publicera</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Report">Rapporter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/DetermineAuthorCount">Lägg till produkt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/UserManagement">Hantera användare</a>
                    </li>
                    }
                    @if (cookieValue1 == cookieComparerTrue && cookieValue == cookieComparer1) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/AdminManagement">Hantera admins</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Register">Registrera användare</a>
                    </li>
                    }
                    @if (cookieValue != null) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Profile" asp-route-id="@cookieValue2">Profil</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Kontakt</a>
                    </li>
                    }
                    @if (cookieValue == null) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Login">Logga in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Register">Registrera dig</a>
                    </li>
                    }
                    @if (cookieValue != null) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Logout">Logga ut</a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
}